<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- AD v2.0 -->
        <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
        <add key="ida:Tenant" value="<ADテナントID>"/>
        <add key="ida:ClientId" value="<作成したADアプリケーションID>"/>

        <add key="api:WebApiScope" value="<WebAPIスコープID>"/>
        <add key="api:WebApiBaseAddress" value="https://localhost:5001/"/>
    </appSettings>
</configuration>